<div class="container">
  <!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj6k5zAlZvhAhWHfysKHbQ_CiQQjRx6BAgBEAU&url=https%3A%2F%2Fwww.expedia.com%2FAmerican-Sports-Center-Hotels.0-l6195854-0.Travel-Guide-Filter-Hotels&psig=AOvVaw3x_yQRjBQrLuiF7ehjP9RG&ust=1553529939376072" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ hoteldetails.name }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary location">{{ hoteldetails.location }}</a>
      <a href="#" class="btn btn-primary booknow">Book Now</a>
      <p>Rating : {{ hoteldetails.rating }}</p>
      <p>Price: {{ hoteldetails.price }}</p>
    </div>
  </div> -->
  <div class="col-md-4">
      <div class="card">
        <div class="card-block">
            <img class="card-img-top" src="https://vivanta.tajhotels.com/content/dam/luxury/hotels/Taj_Mahal_Delhi/images/4x3/HotelFacade4x3.jpg" alt="Card image cap">
          <h4 class="card-title">{{ hoteldetails.name }}</h4>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
          <button class="btn btn-primary location">Location : {{ hoteldetails.location }}</button>
          <button class="btn btn-primary price">Price : {{ hoteldetails.price }}</button>  <!--<a href="#" class="card-link"></a>-->
          <button class="btn btn-primary rating">Rating : {{ hoteldetails.rating }}</button>
          <button class="btn btn-primary booknow">Book Now</button>
        </div>
      </div>
    </div>

</div>

<!-- <body>
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link">link</a>
                <a href="#" class="card-link">Second link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  </body> -->